@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="SOrder" asp-action="Index">Orders</a>

</div>
